<template>
  <section class="container">
    <div>

      <h3>This is inside of pages/index.vue (check select not working, and label is not showing properly):</h3>
      <h6>.</h6>
      <v-row justify="center">


        <v-col cols="12" md="4">
          <v-text-field label="label" placeholder="placeholder" outlined disabled ></v-text-field>
        </v-col>

        <v-col class="d-flex" cols="12" md="4">
          <v-select :items="[1,2,3]" label=""  solo></v-select>
        </v-col>

      </v-row>

    </div>
  </section>
</template>

<script>

export default {
  layout: 'google-keep',
}
</script>

<style>

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

</style>
